body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  width: 100vw;
  height: 100vh;
  display: block;
}
#titleImage {
  display: block;
  width: 80%;
  max-width: 600px;
  margin: 20px auto 10px;
  image-rendering: pixelated;
}
